#canvas{
	position: fixed;
	left: 37%;
	top:6%;
	border: 1px solid #000;
	background: url(../image/2.jpg) ;
	background-size: cover;

	 
}
#btn{
	position: absolute;
	top:42%;
	left: 45%;
	
	z-index: 3
}